<div class="component_part clearfix <%= start %>">
  
  <%= render :partial => 'catalog/_show_partials/_ead/did',
    :locals => {:element => component_part} %>

  <div class="section">
    <%= transform_ead_part(component_part) %>
  </div>
  
  <%= render :partial => 'catalog/_show_partials/_ead/dsc',
    :locals => {:element => component_part, :start => ead_increment_start(start)} %>
</div>

